.full-width-table {
  position: absolute;
  width: 100%;
}

.table-container {
  position: relative;
  height: 100%;
  overflow: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
