<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-icon-button (click)="clickMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Cheat Sheet</span>
  <span class="navbar-spacer"></span>
  <button mat-icon-button class="login-icon" aria-label="login" [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
  </button>
  <span class="icon-spacer"></span>
  <button mat-icon-button class="register-icon" aria-label="register" [routerLink]="['/register']">
    <mat-icon>app_registration</mat-icon>
  </button>
</mat-toolbar>
