<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <button mat-icon-button (click)="clickMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Cheat Sheet</span>
  <span class="navbar-spacer"></span>
  <button mat-icon-button class="login-icon" aria-label="login">
    <mat-icon>login</mat-icon>
    <span class="material-symbols-outlined">
      Login
    </span>
  </button>
  <!-- <button mat-icon-button class="registration-icon" aria-label="register">
    <mat-icon>register</mat-icon>
  </button> -->
</mat-toolbar>
